:root {
  --color-bg: rgb(110, 87, 203);
  --color-bg-dark: rgb(90, 73, 158);
  --color-bg-darker: rgb(43, 29, 97);
  --color-outline: rgba(110, 87, 203, 0.545);
  --border-color-gray: #e3e3e3;
  --down-transparent: #38295ef6;
}

.custom-nav {
  background-color: var(--color-bg);
}

h1 {
  color: var(--color-bg-darker);
}

.btn-secretario {
  background-color: var(--color-bg);
  border-color: var(--color-bg-dark);
  color: #fff;
  transition: all 0.2s;
}

.btn-secretario:hover {
  background-color: var(--color-bg-dark);
  color: #fff;
}

.down-menu {
  background: var(--down-transparent);
}