{% extends "layout/base_estudiante.html" %}
{% load static %}

{% block 'sub-estilos' %}
<link rel="stylesheet" href="{% static 'css/estudiante/lista.css' %}">
{% endblock %}

{% block 'contenido' %}
  <div class='text-center mt-3 user-select-none'>
    <h1>Solicitudes</h1>
  </div>
  <hr>
  <div class="container">
    <div class='lista'>
      {% for solicitud in object_list %}
      <div class="lista-item">
        <a class="lista-item-link" href="{% url 'visualizar_solicitud' solicitud.pk %}"
        style="font-size: 20px;">
          <div class="row">
            <div class="col-sm-9">
              Solicitud de {{solicitud.tipo}}
            </div>
            <div class="col-sm-3 text-end">
              {{solicitud.fecha}}
            </div>
          </div>
        </a>
      <a href="{% url 'modificar_solicitud' solicitud.pk %}" class="lista-item-btn btn-modificar">M</a>
      <a href="{% url 'eliminar_solicitud' solicitud.pk %}" class="lista-item-btn btn-eliminar">E</a>
      </div>
      {% endfor %}
    </div>
    <div class="mt-5 p-4"></div>
  </div>
  <div class="fixed-bottom d-flex p-3 justify-content-center bg-white border shadow">
    <a href="{% url 'crear_solicitud' %}" class="btn btn-estudiante">Nueva Solicitud</a>
  </div>
{% endblock %}
