{% extends "layout/base.html" %}
{% load static %}

{% block 'fav-icon' %}
{% comment %} <link rel="icon" type="image/png" href="{% static 'icono_estudiante.png' %}" /> {% endcomment %}
{% endblock  %}

{% block 'estilos' %}
  <link rel="stylesheet" href="{% static 'css/secretario/secretario.css' %}">
  {% block 'sub-estilos' %}{% endblock  %}
{% endblock  %}

{% block 'nav_class' %}
  custom-nav
{% endblock %}

{% block 'nav_links' %}
  <a class="nav-link" aria-current="page" href="{% url 'listar_estudiantes' %}">Estudiantes</a>
  <a class="nav-link {% block 'link-clases' %}{% endblock %}" aria-current="page" href="{% url 'listar_reportes' %}">Reportes</a>
  <a class="nav-link {% block 'link-actividades' %}{% endblock %}" href="{% url 'listar_solicitudes_secretario' %}">Solicitudes</a>
  <a class="nav-link {% block 'link-dudas' %}{% endblock %}" href="{% url 'listar_notificaciones_secretario' %}">Notificaciones</a>
{% endblock  %}